.pro-container{
    width: 28%;
    height: 18%;
    position: absolute;
    z-index: 1;
    border: 2px solid rgba(58, 60, 68, 1);
    background: rgba(28, 29, 33, 1);
    transform: translate(232%,60%);
    border-radius: 12px;
}
.pro-p{
    width: 12%;
    height: 6%;
    font-size: 12px;
    background: rgba(24, 24, 24, 1);
    border: 1px solid rgba(112, 112, 112, 1);
    padding:5px 10px 1px 10px;
    border-radius: 14px;
    text-align: center;
    color: rgb(167, 163, 163);
    font-weight: 500;
    transform: translate(40px,50px);
}
.enterprise{
    color: white;
    transform: translate(40px,80px);
    font-size: 35px;
    font-weight: 500;
}
.need-p{
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    color: rgba(210, 211, 218, 1);
    transform: translate(40px,90px);
}
.pro-items{
    color: rgba(210, 211, 218, 1);
    transform: translate(10%,130px);
}
.pro-item{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}
.pro-item img{
    width: 15px; 
    height: 15px;
    margin-right: 10px;
}
.btn-get-pro button{
    width: 70%;
    transform: translate(17%,180px);
    padding: 12px;
    background: linear-gradient(91.35deg, #F81F49 45.15%, #FA522B 94.96%);
    border: none;
    color: white;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
@media (max-width:430px) {
    .pro-container{
        width: 85%;
        height: 16%;
        position: absolute;
        z-index: 1;
        border: 2px solid rgba(58, 60, 68, 1);
        background: rgba(28, 29, 33, 1);
        transform: translate(10%,1290px);
        border-radius: 12px;
    }
}