.developer-container{
    width: 28%;
    height: 18%;
    position: absolute;
    z-index: 1;
    border: 2px solid rgba(58, 60, 68, 1);
    background: rgba(28, 29, 33, 1);
    transform: translate(127%,60%);
    border-radius: 12px;
}
.developer-p{
    width: 22%;
    height: 5%;
    font-size: 11px;
    background: rgba(24, 24, 24, 1);
    border: 1px solid rgba(112, 112, 112, 1);
    padding:4px 15px 2px 15px;
    border-radius: 20px;
    text-align: center;
    color: rgb(167, 163, 163);
    font-weight: 500;
    transform: translate(40px,50px);
}
.currency{
    color: white;
    transform: translate(40px,80px);
    font-size: 35px;
    font-weight: 500;
}
.unlock-p{
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    color: rgba(210, 211, 218, 1);
    transform: translate(40px,90px);
}
.dev-items{
    color: rgba(210, 211, 218, 1);
    transform: translate(10%,130px);
}
.dev-item{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}
.dev-item img{
    width: 15px; 
    height: 15px;
    margin-right: 10px;
}
.btn-get-dev button{
    width: 70%;
    transform: translate(17%,180px);
    padding: 12px;
    background: rgba(10, 119, 255, 1);
    color: white;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
}

@media (max-width:430px) {
    .developer-container{
        width: 85%;
        height: 16%;
        position: absolute;
        z-index: 1;
        border: 2px solid rgba(58, 60, 68, 1);
        background: rgba(28, 29, 33, 1);
        transform: translate(10%, 770px);
        border-radius: 12px;
    }
    .developer-p{
        padding: 5px;
    }
}
