.dark-theme{
    width: 100%;
    height: 2800px;
    background: rgba(18, 19, 22, 1);
    position: relative;
    transform: translate(0%,9%);
}

@media (max-width:430px) {
    .dark-theme{
        width: 100%;
        height: 3180px;
        transform: translate(0%,39%);
        position: relative;
    }
}